<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.projeto.academicplanner">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SpecialClassActivity"
            android:parentActivityName=".activity.NavMainActivity"/>
        <activity
            android:name=".activity.PreferencesActivity"
            android:parentActivityName=".activity.NavMainActivity" />
        <activity
            android:name=".activity.SendEmailActivity"
            android:parentActivityName=".activity.NavMainActivity" />
        <activity
            android:name=".activity.ClassDetailActivity"
            android:parentActivityName=".activity.NavMainActivity" />
        <activity
            android:name=".activity.SettingsMainActivity"
            android:parentActivityName=".activity.NavMainActivity" />
        <activity
            android:name=".activity.ClassMainActivity"
            android:parentActivityName=".activity.NavMainActivity" />
        <activity
            android:name=".activity.NavMainActivity"
            android:label="@string/title_activity_nav_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.UserProfileActivity"
            android:parentActivityName=".activity.NavMainActivity" />
        <activity
            android:name=".activity.CreateAccountActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.DetalheActivity" />
        <activity android:name=".activity.PlannerMainActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>